@import "~bulma/sass/utilities/initial-variables";

@font-face {
  font-family: 'Simplon Mono';
  src: url('../fonts/SimplonMono-Regular-WebS.eot');
  src: url('../fonts/SimplonMono-Regular-WebS.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SimplonMono-Regular-WebS.woff2') format('woff2'),
       url('../fonts/SimplonMono-Regular-WebS.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'GT Sectra';
  src: url('../fonts/GT-Sectra-Black-Italic.eot');
  src: url('../fonts/GT-Sectra-Black-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GT-Sectra-Black-Italic.woff2') format('woff2'),
       url('../fonts/GT-Sectra-Black-Italic.woff') format('woff');
  font-style: normal;
}


// Config vars
$fullhd: 1320px;
@import "~bulma";


@mixin mono {
  font-family: 'Simplon Mono', monospace;
  font-size: $size-6;
  color: #000;
  text-transform: uppercase;
}
@mixin sectra {
  font-family: 'GT Sectra';
  font-size: 2rem;
  line-height: 1.15;
  @media screen and (min-width: $tablet){
    font-size: 3rem;
  }
}


body {
  position: relative;
  color: #000;
  overflow-x: hidden;
}
input:focus {
  outline: none;
}
input::-webkit-input-placeholder {
  color: #ccc;
  transition: all 250ms ease-out;
}
input:focus::-webkit-input-placeholder {
  color: #eee;
}
input::-moz-placeholder {
  color: #ccc;
  transition: all 250ms ease-out;
}
input:focus::-moz-placeholder {
  color: #eee;
}
input:-ms-input-placeholder {
  color: #ccc;
  transition: all 250ms ease-out;
}
input:focus:-ms-input-placeholder {
  color: #eee;
}

.container {
  padding: 0 20px;
  @media screen and (min-width: $tablet){
    padding: 0;
  }
}




.navbar {
  margin-top: 1em;
  @media screen and (min-width: $tablet){
    margin-top: 4em;
  }
}
.navbar > .container {
  display: flex;
  align-items: center;
}
.navbar, .navbar-menu, .navbar-start, .navbar-end {
  align-items: center;
}
.navbar-item, .navbar-link {
  padding: 0;
}
.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar-date {
  @include mono;
  color: #000;
}
.navbar-end {
  line-height: 1.5;
  // padding: 0.5rem 1rem;
  position: relative;
}

.content-center {
  text-align: center;
}
.content h2 {
  color: $grey-light;
}
.content h2:not(:first-child).subtitle {
  margin-top: -0.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: $size-5;
}

.person-card p {
  font-size: $size-6;
}

// ——————————————————————————————————————
// Index
// ——————————————————————————————————————

.index-heading {
  position: relative;
  margin-top: 2.5rem;
  text-align: center;
  z-index: 1;
  svg {
    width: 310px;
    @media screen and (min-width: $tablet){
      width: auto;
    }
  }
}
.index-intro {
  margin-top: -2.5rem;
  .container {
    padding: 0;
  }
}
.index-intro__description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.index-intro__description-text {
  @include mono;
  text-align: center;
  font-size: 1.2rem;
  text-transform: none;
  line-height: 1.325;
  letter-spacing: -0.02em;
  max-width: 90%;
  @media screen and (min-width: $tablet){
    font-size: 3rem;
  }
}
.index-intro__content {
  display: flex;
}
.index-intro__box {
  flex: 0 0 0;
  @media screen and (min-width: $tablet){
    flex: 0 0 50%;
    position: relative;
  }
}
.index-intro__box-top {
  width: 25%;
  height: 2px;
  background: #000;
}
.index-intro__box-bottom {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  @media screen and (min-width: $tablet){
    bottom: 0;
    width: 94%;
  }
}
.index-intro__image {
  line-height: 0;
}






.index-manifesto {
  position: relative;
  padding: 4rem 0;
  @media screen and (min-width: $tablet){
    padding: 8rem 0;
  }
}
.index-manifesto__heading {
  @include mono;
  margin: 0 0 2rem;
  text-align: center;
}
.index-manifesto__title {
  @include sectra;
  font-size: 3rem;
  @media screen and (min-width: $tablet){
    font-size: 4rem;
  }
}
.index-manifesto__subtitle {
  @include mono;
  margin-bottom: 1rem;
}
.index-manifesto__description {
  font-size: $size-5;
  margin-top: 3rem;
  line-height: 2;
  @media screen and (min-width: $tablet){
    font-size: $size-4;
  }
}
.index-manifesto__graphic {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.index-manifesto__graphic-triangle {
  position: absolute;
  bottom: 3rem;
  right: -14rem;
  svg {
    width: 400px;
  }
  @media screen and (min-width: $tablet){
    bottom: 0;
    right: -10rem;
    svg {
      width: auto;
    }
  }
}
.index-manifesto__graphic-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: #000;
  width: 40%;
}


.index-blog {
  margin-top: 8rem;
  padding: 8rem 0;
  background-image: linear-gradient(235deg, #D4F8FD 0%, #FED7DE 100%);
}
.index-blog__heading {
  @include mono;
  margin: 0rem 0 2rem;
  text-align: center;
}
.index-blog__post {
  margin-top: 4rem;
  h4 {
    @include mono;
  }
  h2 {
    @include sectra;
    margin-top: 0.2rem;
  }
  p {
    font-size: $size-5;
    margin-top: 1rem;
  }
  .columns {
    margin: 0;
  }
  @media screen and (min-width: $tablet){
    padding-bottom: 4rem;
    p {
      font-size: $size-4;
    }
  }
}
.index-blog__link {
  color: #000;
  .column {
    padding: 0;

  }
}
.index-blog__arrow {
  display: none;
  text-align: right;
  svg {
    margin-top: 1rem;
  }
  @media screen and (min-width: $tablet){
    display: block;
  }
}






.index-people {
  margin-bottom: 8rem;
}
.index-people__title {
  @include mono;
  position: relative;
  margin-top: 10rem;
  text-align: center;
  line-height: 150px;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    transform: rotate(45deg) translate(-80px, 80px);
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    transform: rotate(45deg) translate(-20px, 20px);
  }
}
.index-people-list {
  flex-wrap: wrap;
}
.index-person {
  margin-top: 6rem;
  h4 {
    @include mono;
    position: relative;
    z-index: 1;
    margin-left: 4rem;
  }
  h2 {
    @include sectra;
    position: relative;
    z-index: 1;
    font-size: 4rem;
    margin-left: 4rem;
    word-spacing: 100rem;
  }
  p {
    position: relative;
    z-index: 1;
    margin-left: 4rem;
    font-size: 1em;
  }
}
.index-person__image {
  position: relative;
  margin-top: -4rem;
  margin-bottom: -4rem;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  overflow: hidden;
  z-index: 0;
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 150px;
    overflow: hidden;
    opacity: 1;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #52E4F8 0%, #F95C79 100%);
    mix-blend-mode: screen;
    opacity: 0;
  }
}

.index-events__title {
  @include mono;
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
  line-height: 150px;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    transform: rotate(45deg) translate(-54px, 54px);
  }
  @media screen and (min-width: $tablet){
    margin-top: 10rem;
    margin-bottom: 0rem;
  }
}
.index-event {
  margin-top: 3rem;
  h4 {
    @include mono;
    position: relative;
    z-index: 1;
    font-size: $size-5;
  }
  h2 {
    @include sectra;
    position: relative;
    z-index: 1;
    font-size: $size-2;
  }
  p {
    position: relative;
    z-index: 1;
    font-size: 1em;
  }
  @media screen and (min-width: $tablet){
    margin-top: 6rem;
  }
}




.index-faqs {
  margin-top: 12rem;
}



.index-cta {
  margin-top: 6rem;
  @media screen and (min-width: $tablet){
    margin-top: 10rem;
  }
}
.index-cta__heading {
  @include mono;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border: 2px solid #000;
  border-radius: 90px;
  text-align: center;
}
.index-cta__content {
  h2 {
    @include mono;
    text-align: center;
    font-size: 2rem;
    text-transform: none;
    line-height: 1.325;
    letter-spacing: -0.02em;
    margin: 4rem 0;
    @media screen and (min-width: $tablet){
      font-size: 3rem;
    }
  }
  input {
    width: 65%;
    height: 60px;
    border: none;
    font-size: $size-4;
    padding: 0.5em;
    @media screen and (min-width: $tablet){
      width: 60%;
      height: 80px;
      padding: 1em;
      font-size: $size-3;
    }
  }
  button {
    width: 25%;
    height: 60px;
    outline: none;
    border: 2px solid #000;
    font-size: $size-5;
    @media screen and (min-width: $tablet){
      height: 80px;
    }
  }
  .container {
    padding: 0 20px;
    @media screen and (min-width: $tablet){
      padding: 0;
    }
  }
}
.index-cta__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12rem;
  background: linear-gradient(235deg, #D4F8FD 0%, #FED7DE 100%);
  @media screen and (min-width: $tablet){
    height: 16rem;
  }
}

.footer {
  background: transparent;
  align-items: center;
  padding: 3rem 0 6rem;
  .container {
    align-items: center;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
  }
}




