@import "~bulma/sass/utilities/initial-variables";

// Config vars
$fullhd: 1320px;
@import "~bulma";


@mixin mono {
  font-family: monospace;
  font-size: $size-6;
  color: #000;
  text-transform: uppercase;
}


body {
  color: #000;
}


.navbar {
  margin-top: 4em;
}
.navbar, .navbar-menu, .navbar-start, .navbar-end {
  align-items: center;
}
.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar-date {
  @include mono;
  color: #000;
}

.content-center {
  text-align: center;
}
.content h2 {
  color: $grey-light;
}
.content h2:not(:first-child).subtitle {
  margin-top: -0.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: $size-5;
}

.person-card p {
  font-size: $size-6;
}

// ——————————————————————————————————————
// Index
// ——————————————————————————————————————

.index-heading {
  position: relative;
  margin-top: 2.5rem;
  text-align: center;
  z-index: 1;
}
.index-intro {
  margin-top: -2.5rem;
}
.index-intro__content {
  display: flex;
}
.index-intro__box {
  flex: 0 0 50%;
  position: relative;
}
.index-intro__box-top {
  width: 25%;
  height: 2px;
  background: #000;
}
.index-intro__box-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 94%;
  height: 2px;
  background: #000;
}
.index-intro__image {
  line-height: 0;
}

.index-manifesto {
  position: relative;
  padding-bottom: 8rem;
}
.index-manifesto__heading {
  @include mono;
  margin: 8rem 0 2rem;
  text-align: center;
}
.index-manifesto__title {
  font-size: 4rem;
  font-style: italic;
}
.index-manifesto__subtitle {
  @include mono;
  margin-top: 1rem;
}
.index-manifesto__description {
  font-size: $size-4;
  margin-top: 3rem;
}


.index-manifesto__graphic-triangle {
  position: absolute;
  bottom: 0;
  right: -10rem;
}



